$dark-grey: #282828;
$dark-violet: #3e368d;
$light-violet: #9999ff;
$violet: #8140a7;
$light-creme: #f2e1ec;
$orange: #ff6641;
$light-grey: #ededed;
$white: #ffffff;

$oscine-family: 'oscine', sans-serif;
$oscine-light-weight: 400;
$oscine-regular-weight: 400;
$oscine-bold-weight: 700;

$finalsix-family: 'finalsix', sans-serif;
$finalsix-light-weight: 300;
$finalsix-medium-weight: 500;
$finalsix-semibold-weight: 600;
$finalsix-bold-weight: 800;

$input-serif-family: 'input-serif', serif;

$bebas-neue-semirounded-family: 'bebas-neue-semirounded', sans-serif;

$novecento-sans-family: 'novecento-sans', sans-serif;


