@import 'vars';
.carousel {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.carouselItem {
    font: $oscine-bold-weight 30px/30px $oscine-family;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-right: 25vw;
    margin-left:  25vw;
    overflow: hidden;
}
@media (max-width: 768px) {
    .carouselItem {
        margin: 0;
    }
}