.carousel {
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.carouselItem {
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-right: 25vw;
    margin-left: 25vw;
}
