@import 'colors';
.body{
    margin: 0;
    padding-right: 0;
}
.background-image {
    background-image: url('../assets/backgroundH.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    overflow-x: hidden;
}
.dashboard-content{
    padding-top: 50px;
    text-align: center;
}

.titel{
    padding: 30px;
    text-transform: uppercase;
    color: #f7e6e8;
    margin-top: 267px;
    font: 700 60px/73px Inter, sans-serif;
    text-align: left;
    padding-left: 15%;
}

.text{
    color: $dark-violet;
    text-align: center;
    font: 400 30px/33px Inter, sans-serif;
    padding-bottom: 15px;
}

.textContaner{
    padding-top: 20px;
    display: flow;
    float: right;
    width: 40vw;
    padding-right: 200px;
}

.button{
    background: $dark-violet;
    border: none;
}
.button:hover{
    background-color: $light-creme;
    color: $dark-violet;
    box-shadow: 0 8px 16px rgba(62, 54, 141, 1);
}
.CardCarousel{
    background-image: url('../assets/background.png');
    height: 40vw;
    align-items: center;
    justify-content: center;
}
.carousel.slide{
    width: 50vw;
    display: inline-flex;
}
.eyeDiv{
    background: $light-violet;
    height: 350px;
}
.eyeBackground{
    background: $dark-violet;
    border-radius: 0 120px 120px 0;
    height: 100%;
    width: 50vw;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.eyeText{
    color: $light-creme;
    width: 25vw;
    margin-left: 20vw;
    vertical-align: middle;
}
.eyePic{
    height: 100%;
    background-image: url('../assets/eye2.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}