.body{
    margin: 0;
    padding-right: 0;
}
.background-image {
    background-image: url('../assets/GradientHintergund.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    padding: 50px;
}
.dashboard-content-not-auth{
    text-align: center;
}

.dashboard-content-not-auth .titel{
    padding: 30px;
    text-transform: uppercase;
    color: #f7e6e8;
    margin-top: 267px;
    font: 700 60px/73px Inter, sans-serif;
    text-align: left;
    padding-left: 15%;
}

.dashboard-content-not-auth .text{
    color: #4F45DA;
    text-align: center;
    font: 300 30px/30px Inter, sans-serif;
    padding-bottom: 15px;
}

.textContaner{
    padding-top: 20px;
    display: flow;
    float: right;
    width: 40vw;
    padding-right: 200px;
}

.button{
    background: #4F45DA;
    --bs-btn-hover-bg: #56c8c9;
    border: none;
}



.dashboard-content-auth{
    padding-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*Patient List*/
.listContainer{
    background: rgba(159, 128, 236, 0.82);
    border-radius: 20px;
    padding: 20px;
    min-width: 250px;
}
.listContainer .listTitle h2 {
    color: white;
    font: 600 30px/30px Inter, sans-serif;
}
.patientSearchInput input{
    padding: 10px;
    margin-bottom: 20px;
}


/*Feature Buttons*/
.featureButtons{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    width: 70%;
}
.featureButtons .button{
    margin-bottom: 20px;
    height: 100px;
    font: 600 30px/30px Inter, sans-serif;
    border-radius: 20px;
    border: none;
    background: #4F45DA;
    color: white;
}
.featureButtons .button:hover{
    box-shadow: 0 3px 10px rgba(79, 79, 79, 0.89);
}

.icon{
    color: #56c8c9;
}



/*CardCarousel*/
.CardCarousel{
    background: #f7e6e8;
    height: 40vw;
    align-items: center;
    justify-content: center;
}
.carousel.slide{
    width: 50vw;
    display: inline-flex;
}
.eyeDiv{
    background: #C9BAFD;
    height: 350px;
}
.eyeBackground{
    background: #542BD4;
    border-radius: 0 120px 120px 0;
    height: 100%;
    width: 50vw;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.eyeText{
    color: #f7e6e8;
    width: 25vw;
    margin-left: 20vw;
    vertical-align: middle;
}
.eyePic{
    height: 100%;
    background-image: url('../assets/eye.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

/*Mobile Version*/
@media screen and (max-width: 800px) {
    .dashboard-content-auth{
        flex-direction: column;
    }
    .featureButtons{
        width: 100%;
    }
    .listContainer{
        min-width: 100%;
    }
}