@import 'vars';

.body {
    margin: 0;
    padding-right: 0;
}

.dashboard-div {
    min-height: 100%;
}

.background-image {
    background-image: url('../assets/backgroundGrad.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    padding: 50px;
}

.dashboard-content-not-auth {
    background-image: url('../assets/backgroundH.png');
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    padding: 50px;
    min-height: 100vh;

}

.dashboard-content-not-auth .titel {
    text-transform: uppercase;
    color: $light-creme;
    margin-top: 267px;
    font: $oscine-bold-weight 60px/73px $oscine-family;
    text-align: left;
    padding: 30px 30px 30px 15%;
}

.dashboard-content-not-auth .text {
    color: $dark-violet;
    text-align: center;
    font: $oscine-light-weight 30px/30px $oscine-family;
    padding-bottom: 15px;
}

.textContaner {
    padding-top: 20px;
    display: flow;
    float: right;
    width: 40vw;
    padding-right: 200px;
}

.button {
    background: $dark-violet;
    border: none;
}

.button:hover {
    background-color: $light-creme;
    color: $dark-violet;
    box-shadow: 0 8px 16px rgba(62, 54, 141, 1);
}

.dashboard-content-auth {
    background-image: url('../assets/backgroundGrad.png');
    padding-top: 13%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-x: hidden;
    padding-inline: 4%;
}

/*Patient List*/
.listContainer {
    background: $light-grey;
    border-radius: 20px;
    padding: 20px;
    min-width: 250px;
}

.listContainer .listTitle h2 {
    color: $light-violet;
    font: $oscine-bold-weight 30px/30px $oscine-family;
}

.patientSearchInput input {
    padding: 10px;
    margin-bottom: 20px;
    background: $dark-violet;
    color:  $light-creme;
    border: 1px solid $dark-violet;
}


/*Feature Buttons*/
.featureButtons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    width: 70%;
}

.featureButtons .button {
    margin-bottom: 20px;
    height: 100px;;
    font: $oscine-bold-weight 30px/30px $oscine-family;
    border-radius: 20px;
    border: none;
    background: $dark-violet;
    color: $light-creme;
}

.featureButtons .button:hover {
    box-shadow: 0 3px 10px rgba(79, 79, 79, 0.89);
}

.icon {
    color: $light-violet;
}

/*CardCarousel*/
.CardCarousel {
    background-image: url('../assets/background.png');
    background-color: $light-creme;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel.slide {
    width: 50vw;
    display: flex;
}

.eyeDiv {
    background: $light-violet;
    height: 350px;
}

.eyeBackground {
    background: $dark-violet;
    border-radius: 0 120px 120px 0;
    height: 100%;
    width: 50vw;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.eyeText {
    color: $light-creme;
    width: 25vw;
    margin-left: 20vw;
    vertical-align: middle;
}

.eyePic {
    height: 100%;
    background-image: url('../assets/eye2.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
}

/*Mobile Version*/
@media screen and (max-width: 800px) {
    .dashboard-content-auth {
        flex-direction: column;
    }

    .featureButtons {
        width: 100%;
    }

    .listContainer {
        min-width: 100%;
    }
}