.layout{
    width: 99.875rem;
    height: 100%;
    flex-shrink: 0;
    background: #542BD4;
}
.background {
    background-image: url('../assets/BackgroundDaD.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 120vh;
    width: 100%;

    overflow: hidden;
}
.header{
    text-align: left;
    font-size: 1.5rem;
    font-style: normal ;
    font-weight: 200;
    line-height: normal;

    color: #fff;
    margin-top: 5rem;
    padding: 5rem;

    @media (max-width: 991px) {
        font-size: 1rem;
    }

}
.infotext {
    width: 821px;
    height: 143px;
    color: #fff;
    text-align: center;
    font: 400 32px Inter, sans-serif;
    padding: 10px;
    margin-inline: 15rem;
}
.container {
    display: flex;
    justify-content: space-evenly;
}

.column {
    width: 27.4375rem;
    height: 17.5rem;
    box-sizing: border-box;
    color: #FFF;
    padding: 3rem;

    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


