.c_dark {
    background-color: #2f015a;
    width: 600px;
    height: 800px;
    opacity: 0.9;
    color: #c6f222;
    position: absolute;
    top: 125px;
    right: 125px;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link{
    color: #f7e6e8;
}

.background-login-image {
    background-image: url('../assets/LoginBackground.svg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.loginPage {
    position: relative;
    height: 100vh;
    width: 100vw;
}