.navbar {
    display: flex;
    align-items: center;
    width: 100%;
}
.navbar-nav1 {
    display: flex;
}
body {
    overflow-x: hidden;
}
.logoLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.87);
}

.logo {
    width: 30px;
    height: auto;
    margin-right: 1rem;
    border-radius: 8px;
}

.title {
    font-size: 2rem;
    margin: 0;
}

.navLink {
    text-decoration: none;
    color: #56c8c9;
    font-weight: 500;
}

.navLink:hover,
.userEmail:hover {
    color: #56c8c9;
}

.userEmail {
    font-size: 0.9rem;
    color: #4F45DA;
    margin: 0 1rem 0 1rem;
}

.logoutButton:hover {
    background-color: #56c8c9;
}