.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #333;
    color: rgba(255, 255, 255, 0.87);
}

.logoLink {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.87);
}

.logo {
    width: 50px; /* Adjust logo size as needed */
    height: auto;
    margin-right: 1rem;
    border-radius: 8px;
}

.title {
    font-size: 2rem;
    margin: 0;
}

.navItems {
    display: flex;
    align-items: center;
}

.navLink {
    text-decoration: none;
    color: #646cff;
    font-weight: 500;
    margin-left: 1rem;
}

.navLink:hover, .userEmail:hover {
    color: #535bf2;
}

.userEmail {
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.87);
    margin: 0 1rem 0 1rem;
}

.logoutButton {
    border: none;
    border-radius: 8px;
    padding: 0.6em 1.2em;
    background-color: #646cff;
    color: white;
    cursor: pointer;
    margin-left: 1rem;
}

.logoutButton:hover {
    background-color: #535bf2;
}
