@import 'vars';

.heading{
  font-family: $oscine-family;
  font-weight: $oscine-bold-weight;
}

.centeredRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  font-family: $oscine-family;
}