//Variables
@import 'vars';

$circle-size: 40px;
$timeline-thickness: 7px;

.roadmap {
  background-image: url('../assets/backgroundR.png');
  padding-top: 8%;
  padding-inline: 5%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  font: $oscine-bold-weight 30px/30px $oscine-family;

}

.timeline {
  position: relative;
  width: 100%;
  margin-top: 50px;
  min-height: 90vh;
  bottom: 0;
}

// timeline line
.timeline::after {
  content: '';
  position: absolute;
  width: $timeline-thickness;
  background-color: $light-grey;
  border-radius: 6px;
  top: 50%;
  bottom: 0;
  left: 50%;
  margin-left: calc(-1 * $timeline-thickness / 2);
  margin-top: 1%;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);

  &.planned {
    background-color: $light-grey;
  }

  &.doing {
    background-color: $dark-violet;
  }

  &.reached {
    background-color: $light-violet;
  }
}

@mixin section {
  position: relative;
  padding: 10px 40px;
  width: 50%;
  //background: rgba(83, 91, 242, 0.54);
}

.sectionLeft {
  @include section;
  left: 0;
}

.sectionRight {
  @include section;
  left: 50%;

  .button {
    left: 50%;
    margin-right: 3%;
  }

  .circle {
    left: calc(-1 * $circle-size / 2);
  }
}

@mixin circle($size, $color: $light-grey) {
  position: absolute;
  width: $size;
  height: $size;
  border-radius: 50%;
  // uncomment the following lines to center the circle vertically
  // top: 50%;
  // transform: translateY(-50%);
  right: calc(-1 * $size / 2);
  z-index: 10;
  background-color: $color;
  color: #fff;


  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  @include circle($circle-size);

}

.planned {
  background-color: $light-grey;
}

.doing {
  background-color: $dark-violet;
}

.reached {
  background-color: $light-violet;
}

@mixin textbox {
  position: relative;
  padding: 10px 20px;
  background: $light-grey;
  border-radius: 6px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 7px;
  color: $dark-violet;
  font: $oscine-light-weight 30px/30px $oscine-family;

  h5 {
    font-weight: bold;
  }
}

.textbox {
  @include textbox;
}

.sectionLeft .subgoalBox {
  @include textbox;
  margin-right: 17px;
}

.sectionRight .subgoalBox {
  @include textbox;
  margin-left: 17px;
}

.statusBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  margin-left: 7px;
  padding: 0;
}

.deleteBtn:hover {
  color: red;
}

.button {
  background-color: $orange;
  position: fixed;
  font-size: 1rem;
  bottom: 0;
  right: 0;
  margin: 6% 8% 7% 8%;
  z-index: 1;
}

.btn {
  background-color: $dark-violet;
  padding: 3px;
  padding-inline: 12px;
}

//TODO CHECK IF NEEDED
.date {
  font-size: 0.875rem;
  color: #6c757d;
}

.title,
.description,
.date {
  margin: 5px;
}


.detailsButton {
  background-color: none;
  border: none;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 0;
}

.date {
  font-size: 0.875rem;
  color: #6c757d;
  margin: 0;
}

.comment {
  border: 1px rgb(127, 45, 245) solid;
  border-radius: 6px;
  padding: 0.5rem;
  margin: 0.3rem 0;
  margin-right: 0.3rem;
  font-size: 0.875rem;
  width: 90%;
}

.userComment {
  border: 1px solid $violet;
  border-radius: 6px;
  padding: 0.5rem;
  margin: 0.3rem 0.3rem 0.3rem 0;
  font-size: 0.875rem;
  width: 90%;
}

.therapistComment {
  border: 1px solid $orange;
  border-radius: 6px;
  padding: 0.5rem;
  margin: 0.3rem 0.3rem 0.3rem 0;
  font-size: 0.875rem;
  width: 90%;
}

.writer {
  font-weight: bold;
  color: #343a40;
}

.commentText {
  margin: 0.5rem 0;
}

h6 {
  margin-bottom: 0.1rem;
}

.header {
  color: $dark-violet;
  font-size: 3.5rem;
  font-weight: 800;
  text-align: center;
  margin: 1.5rem;

}

//mobile
@media screen and (max-width: 991px) {
  .timeline::after {
    left: 30px;
  }

  .sectionLeft,
  .sectionRight {
    width: 100%;
    left: 0;
    padding-left: 70px;
    padding-right: 20px;
  }

  .sectionLeft .circle,
  .sectionRight .circle {
    left: calc(30px - $circle-size/2);
  }
}

p,
label {
  font-size: 1rem;
}