//Variables
$circle-size: 40px;
$timeline-thickness: 4px;

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}

// timeline line
.timeline::after {
  content: '';
  position: absolute;
  width: $timeline-thickness;
  background-color: rgba(105, 105, 105, 0.68);
  border-radius: 6px;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -$timeline-thickness/2;
}

@mixin section{
  position: relative;
  padding: 10px 40px;
  width: 50%;
}

.sectionLeft{
  @include section;
  left: 0;
}

.sectionRight{
  @include section;
  left: 50%;

    .circle{
      left: -$circle-size/2;
    }
}

@mixin circle($size, $color: #ccc) {
  position: absolute;
  width: $size;
  height: $size;
  border-radius: 50%;
  top: 32px;
  right: -$size/2;
  z-index: 10;
  background-color: $color;
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  @include circle($circle-size); // Example size

  // Additional styling specific to the circle
  // e.g., colors based on status, border, etc.
}

.textbox{
  position: relative;
  padding: 20px 30px;
  background: #fff;
  border-radius: 6px;
  //border: 1px solid #ccc;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

