/* Custom styles for the therapist card */
.therapistCard {
  background-color: #7945A2;
  border-radius: 30px; 
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Custom styles for the therapist card title */
.therapistCardTitle {
  margin-top: 0;
}

/* Custom styles for the editable title */
.editableTitle {
  width: 100%;
  padding: 10px;
  background-color: #7945A2; 
  border: none;
  border-radius: 30px; 
  color: #fff;
  margin-bottom: 10px;
  text-align: center; 
  font-size: 1.5rem;
}

.closeButton {
  /* background-color: #000; */
  background-color: transparent;
  border: none;
  color: #fff; 
  font-size: 2rem; 
  cursor: pointer;
  margin: -50px;
  margin-right: -10px;
}

.therapistCardHeader {
  position: relative;
}


/* Custom styles for the therapist card container */
.therapistCardContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

/* Custom styles for the therapist card left and right containers */
.therapistCardLeft,
.therapistCardRight {
  width: 48%;
}

/* Custom styles for the subheading */
.subheading {
  color: #fff;
}

/* Custom styles for the cream-colored text field */
.creamTextField {
  background-color: #F4E7E8; 
  color: #000;
  height: auto;
  min-height: 3em;
  max-height: 5em;
  width: 100%;
  resize: vertical;
  overflow-y: auto;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.2;
  border-radius: 10px;
  margin-bottom: 10px;
}

.creamTextField.editable {
  background-color: #F4E7E8;
}

/* Custom styles for the button */
.editSaveButton {
  background-color: #F4E7E8; 
  color: #7945A2; 
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 30px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.editSaveButton:hover {
  background-color: #C5B6F1;
}
