/* Custom styles for the therapist card */
.therapistCard {
  background-color: #7945A2;
  border-radius: 30px;
  width: 70%;
  max-width: 80vw;
  min-height: 20rem;
  height: 60%;
  color: #FFFFFF;
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 5% 5% 10%;
}

/* Custom styles for the therapist card title */
.therapistCardTitle {
  margin-top: 0;
}

/* Custom styles for the editable title */
.editableTitle {
  width: 100%;
  padding: 10px;
  background-color: #7945A2; 
  border: none;
  border-radius: 30px; 
  color: #fff;
  margin-bottom: 10px;
  text-align: center; 
  font-size: 1.5rem;
}

.closeButton {
  position: relative;
  background-color: transparent;
  border: none;
  color: #fff; 
  font-size: 2rem; 
  cursor: pointer;
  margin: -50px -10px -50px -50px;
}

.therapistCardHeader {
  position: relative;
}


/* Custom styles for the therapist card container */
.therapistCardContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  height: auto;
}

/* Custom styles for the therapist card left and right containers */
.therapistCardLeft,
.therapistCardRight {
  width: 80%;
}

/* Custom styles for the subheading */
.subheading {
  color: #fff;
}

/* Custom styles for the cream-colored text field */
.creamTextField {
  box-sizing: border-box;
  background-color: #F4E7E8; 
  color: #000;
  min-height: 10em;
  width: 100%;
  resize: vertical;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
  line-height: 1.2;
  border-radius: 10px;
}

.creamTextField.editable {
  background-color: #F4E7E8;
}
.creamTextField textarea {
  width: 100%;
  height: 100%;
  border: none;
  padding: 10px;
  margin: 0;
  box-sizing: border-box;
  outline: none;
}

/* Custom styles for the button */
.editSaveButton {
  background-color: #F4E7E8; 
  color: #7945A2; 
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 30px;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.editSaveButton:hover {
  background-color: #C5B6F1;
}

.cardContainer {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next row */
  justify-content: space-around; /* Adjust as needed */

}

.card {
  background-color: #8140a7;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 1rem;
  transition: box-shadow 0.3s;
  margin: 20px 20px 40px;
  width: 25vw;
  height: auto;
  color: #FFFFFF;
  text-align: center;
}
.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 14% 14% 10%;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card a {
  color: #fff; /* Set the font color to white */
  text-decoration: inherit;
}
.card a:hover {
  color: #ccc; /* Adjust the hover color as needed */
}

.layout{
  flex-shrink: 0;
  background: #FFFFFF url('../assets/backgroundTF.png') no-repeat center;
  background-size: contain;
  margin: 5rem;
  padding-top: 5rem;
  padding-bottom: 3rem;
}
.h1 {
  text-align: center;
  margin-bottom: 10px;
}
.button {
  background-color: #8140a7;
  color: white;
  width: 10px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}
.confirmButton{
  margin-inline: 10px;
}
.centerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}