@import "../vars";

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modalCustom{
  background-color: $white;
  font-family: $oscine-family;
  max-width: 400px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  input,textarea,select{
    background-color: $light-grey;
  }
  label{
    color: $dark-violet;
  }
}

h5{
  font-family: $oscine-family;
  font-weight: $oscine-bold-weight;
  font-size: 25px;
}


