@import "../vars";

.cardCustom {
  background-color: rgba($light-grey, 0.5);  // Custom card background
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); // Custom shadow
}

.cardCustom:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); // Custom shadow on hover
}

.title{
  font-family: $oscine-family;
  font-weight: $oscine-bold-weight;
  font-size: 30px;
}

.subtitle{
  font-family: $oscine-family;
  font-weight: $oscine-regular-weight;
}

.date{
  font-family: $oscine-family;
  font-weight: $oscine-regular-weight;
}

.borderSecondaryCustom {
  border-color: $light-violet;
}

.borderPrimaryCustom {
  border-color: $dark-violet;
}

.borderSuccessCustom {
  border-color: $orange;
}

.bgSecondaryCustom {
  background-color: $light-grey;
}
