name: Backend tests with Docker Compose

on:
  pull_request:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v2

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: 20.9

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Cache Docker layers
      uses: actions/cache@v2
      with:
        path: /tmp/.buildx-cache
        key: ${{ runner.os }}-buildx-${{ github.sha }}
        restore-keys: |
          ${{ runner.os }}-buildx-

    - name: Start MongoDB using Docker Compose
      run: |
        docker-compose -f docker-compose.yaml up -d backend frontend mongo

    - name: Install dependencies
      run: |
        cd Backend
        npm ci

    - name: Build TypeScript
      run: |
        cd Backend
        npm run build

    - name: Run Backend Tests userController
      run: |
        cd Backend
        npm run test --userController.test.ts
      continue-on-error: true

    - name: Run Backend Tests goalController
      run: |
        cd Backend
        npm run test --goalController.test.ts
      continue-on-error: true

    - name: Run Backend Tests fearController
      run: |
        cd Backend
        npm run test --fearController.test.ts
      continue-on-error: true
    
    - name: Run Backend Tests reflexionController
      run: |
        cd Backend
        npm run test --reflexionController.test.ts
      continue-on-error: true

    - name: Shutdown MongoDB
      run: docker-compose -f docker-compose.yaml down