name: Build and Push Docker Image

on:
  pull_request:
    branches:
      - main

env:
  DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME_N }}
  DOCKER_HUB_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD_N }}

jobs:
  build-and-push:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build Docker image
        run: docker build -f ./Backend/Dockerfile.dev -t nataliiaremezova/b4-hypnobuddy:backend-$GITHUB_SHA ./Backend

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ env.DOCKER_HUB_USERNAME }}
          password: ${{ env.DOCKER_HUB_PASSWORD }}

      - name: Push Docker image
        run: docker push nataliiaremezova/b4-hypnobuddy:backend-$GITHUB_SHA

      - name: Build Frontend Docker image
        run: docker build -f ./Frontend/hypno-buddy/Dockerfile.dev -t nataliiaremezova/b4-hypnobuddy:frontend-$GITHUB_SHA ./Frontend/hypno-buddy

      - name: Push Frontend Docker image
        run: docker push nataliiaremezova/b4-hypnobuddy:frontend-$GITHUB_SHA
